---
layout: page
# All the Categories of posts
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}

{% assign group_index = 0 %}

{% assign custom_order = 'Real-World Projects|Research Projects|Pilot Projects|Advanced Learning' | split: '|' %}
{% assign displayed_categories = '' | split: '' %}

{% if page.collection != 'tabs' and page.title %}
  <h1 class="dynamic-title mb-4">
    {{ page.title }}
  </h1>
{% endif %}

{% for category_name in custom_order %}
  {% assign posts_of_category = site.categories[category_name] %}
  {% if posts_of_category %}
    {% include category_entry.html category_name=category_name posts_of_category=posts_of_category group_index=group_index %}
    {% assign group_index = group_index | plus: 1 %}
    {% assign displayed_categories = displayed_categories | push: category_name %}
  {% endif %}
{% endfor %}

{% for category in site.categories %}
  {% assign category_name = category | first %}
  {% unless displayed_categories contains category_name %}
    {% assign posts_of_category = category | last %}
    {% include category_entry.html category_name=category_name posts_of_category=posts_of_category group_index=group_index %}
    {% assign group_index = group_index | plus: 1 %}
  {% endunless %}
{% endfor %}
